<link rel="stylesheet" href="../css/createAccount.css">
<script src="../js/createAccount.js"></script>
<div class="container mt-3 pt-5" style="max-width: 40%;">

  <div class="row text-center p-4" style="background-color: #e1e1e1;">

    <form class="col-12 form-login" role="form" method="POST" action="/users/login" onsubmit="spinner('register', true)">

      <div class="row justify-content-center text-center">
        <div class="col-10 reg-icon">
          <span class="fa-2x"><h1><icon class="bi bi-person"></icon></h1> Iniciar Sesi칩n</span>
        </div>
      </div>

      <div class="row justify-content-center ">
        <div class="col-10">
          <input type="email" class="form-control" id="email" name="email" placeholder="Correo electr칩nico" required>
        </div>
      </div>

      <div class="row justify-content-center ">
        <div class="col-10">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
      </div>

      <div class="row justify-content-center pt-4">
        <div class="col">
          <button type="submit" class="btn btn-info" id="localLogin">
            <span class="glyphicon glyphicon-share-alt"></span>
            Iniciar sesi칩n
          </button>
        </div>

      </form>
      {{!-- <div class="col">
        <a type="submit" class="btn btn-secondary" href="/users/github" id="githubLogin" onclick="spinner('githubLogin',false)">
          <span class="glyphicon glyphicon-share-alt"></span>
          GitHub
        </a>
      </div> --}}

      <div class="col">
        <a href="/users/recoverPassword" class="btn btn-outline-primary">
          <span class="glyphicon glyphicon-share-alt"></span>
          Recuperar contrase침a
        </a>
      </div>

      <div class="col">
        <a href="/users/createAccount" class="btn btn-outline-primary">
          <span class="glyphicon glyphicon-share-alt"></span>
          Crear cuenta
        </a>
      </div>

    </div>

  </div>
</div>
