<link rel="stylesheet" href="../css/createAccount.css">

<div class="container mt-3 pt-5" style="max-width: 40%;">

  <div class="row text-center p-4" style="background-color: #e1e1e1;">

    <form class="col-12 form-login" role="form" id="recoverPasswordForm">

      <div class="row justify-content-center text-center">
        <div class="col-10 reg-icon">
          <span class="fa-2x"><h1><icon class="bi bi-person"></icon></h1>Recuperar Contrase침a</span>
        </div>
      </div>

      <div class="row justify-content-center">
        <p>Para recuperar tu contrase침a, ingresa el correo electr칩nico con el que te registraste.</p>
        <div class="col-10">
          <input type="email" class="form-control" id="email" name="email" placeholder="Correo electr칩nico" required>
        </div>
      </div>

      <div class="row justify-content-center pt-4">
        <div class="col">
          <button type="submit" class="btn btn-info" id="recoverPassword">
            <span class="glyphicon glyphicon-share-alt"></span>
            Recuperar
          </button>
        </div>
      </form>
    </div>

  </div>
</div>

<script>
  function spinner(elementName, isButton) {

    const button = document.getElementById(elementName);
    if (isButton) {
      button.setAttribute('disabled', '');
    }
    button.classList.add('disabled');

    // Create the loader div
    var loaderDiv = document.createElement('div');
    loaderDiv.className = 'loader';
    loaderDiv.style.display = 'block';

    // Create the loading div
    var loadingDiv = document.createElement('div');
    loadingDiv.className = 'loading';

    // Append the loading div to the loader div
    loaderDiv.appendChild(loadingDiv);

    // Append the loader div to the button
    button.innerText =  'Recuperando...';
    button.appendChild(loaderDiv);
  }

  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('recoverPasswordForm');
    form.addEventListener('submit', function (event) {

      spinner('recoverPassword', true)
      event.preventDefault();

      const email = document.getElementById('email').value;
      const formData = new FormData();
      formData.append('email', email);

      console.log(formData,email)
      fetch('/users/recoverPassword', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        spinner('recoverPassword', true)
        alert(data.message); // Alert message
      })
      .catch(error => {
        spinner('recoverPassword', true)
        console.error('Error:', error);
      });
    });
  });
</script>