.form-login div{
  padding-top:2px;
  padding-bottom:6px;
}

.reg-icon{
  color:#17a2b8!important;
}

.form-group{
  width: 100% !important;
  min-width: 620px !important;
}

.form-group .col- {
  padding: 0px;
}


* {
  margin: 0;
  padding: 0;
}

.loader {
  display: none;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loading {
  border: 4px solid #ccc;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border-top-color: #007b54;
  border-left-color: #007b54a9;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}