.form-login div{
  padding-top:2px;
  padding-bottom:6px;
}

.reg-icon{
  color:#17a2b8!important;
}

.form-group{
  width: 100% !important;
  min-width: 620px !important;
}

.form-group .col- {
  padding: 0pxs;
}