{{!-- https://www.bootdey.com/snippets/view/shopping-cart-with-selected-products-order-summary-and-checkout-button --}}

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10">

      <div class="col-xl-8">
        <div class="row row-cols-2">
          {{#each products}}
          <div class="col mb-1">
            <a class="text-reset" href="/products/{{this.id}}">
              <div class="card">
                <img src="https://www.bootdey.com/image/100x80/008B8B/000000" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p class="card-text">{{this.description}}</p>
                </div>
                <div class="card-footer">
                </div>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-between align-content-between flex-wrap">

            <li class="page-item mr-auto">
              <a class="btn btn-info disabled" href="#" tabindex="-1"><i class="bi bi-arrow-left me-1 float-left"></i>Anterior</a>
            </li>

            <li class="page-item"> <a class="page-link text-white bg-info" href="#">1<span class="sr-only">(current)</span></a> </li>
            <li class="page-item"><a class="page-link  text-dark" href="#">2</a></li>
            <li class="page-item"><a class="page-link  text-dark" href="#">3</a></li>

            <li class="page-item ml-auto">
              <a class="btn btn-info" href="#"><i class="bi bi-arrow-right me-1 float-right"></i>Siguente</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
