<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js" defer></script>
<script src="js/realTimeProducts.js" defer></script>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10">

      <p>
        <button class="btn btn-info mt-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Crear producto
        </button>
      </p>

      <div class="collapse" id="collapseExample">
        <div class="row">
          <div class="card card-body">
            <h2>Nuevo Producto</h2>
            <form>
              <div class="row">
                <div class="col-2">
                  <div class="row align-items-center">
                    <div class="panel-body">
                      <img src="https://www.bootdey.com/image/160x160/008B8B/000000" class="img-fluid" style="position: relative;" alt="User avatar">
                      <a href="#" class="text-reset"><h1 class="bi bi-plus-square-dotted" style="position:absolute; bottom:0px; right:0px"></h1></a>
                    </div>
                  </div>
                </div>
                <div class="col-7">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Código</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="title" id="code">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Título del producto</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="title" id="title">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Descripción del producto</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" id="description"></textarea>
                  </div>
                </div>
                <div class="col-3">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" id="price">
                    <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Stock</span>
                    </div>
                    <input type="text" class="form-control" id="stock">
                  </div>
                </div>
              </div>
              <div class="row justify-content-center mt-4">
                <div class="col-4">
                  <div class="page-item mr-auto">
                    <a href="/realtimeProducts" class="btn btn-danger"> <i class="bi bi-x me-1"></i> Anular </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="page-item ml-auto">
                    <a class="btn btn-success" id="registerProduct"> <i class="bi bi-check me-1"></i> Guardar </a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="row row-cols-2" id="productWrapper">

          <div class="col mb-1 d-none" id="parent">
            <a class="text-reset" href="/api/products/{{this.id}}">
              <div class="card">
                <img src="https://www.bootdey.com/image/100x80/008B8B/000000" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p class="card-text">{{this.description}}</p>
                </div>
                <div class="card-footer">
                  {{!-- <small class="text-muted"><a href="/" class="btn btn-link text-muted"> <i class="bi bi-arrow-left me-1"></i> Continue Shopping </a></small> --}}
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>